<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.officialakbarali.fabiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".customer.sale.SalesReview"></activity>
        <activity android:name=".network.SyncInfo.SyncFromAppToServer" />
        <activity android:name=".customer.sale.Sales" />
        <activity android:name=".customer.Home" />
        <activity android:name=".item.Item" />
        <activity android:name=".customer.AddCustomer" />
        <activity android:name=".customer.Customer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>