<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.officialakbarali.fabiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Settings"></activity>
        <activity android:name=".blockPages.UpdateData" />
        <activity android:name=".blockPages.ForcePull" />
        <activity android:name=".blockPages.AppVersion" />
        <activity android:name=".MainHome" />
        <activity android:name=".LogIn" />
        <activity android:name=".customer.route.RouteModify" />
        <activity android:name=".requestStock.RequestStock" />
        <activity android:name=".data.barcode.FabizBarcode" />
        <activity android:name=".customer.route.ManageRoute" />
        <activity android:name=".network.syncInfo.SyncInformation" />
        <activity android:name=".customer.payment.PaymentReview" />
        <activity android:name=".customer.payment.AddPayment" />
        <activity android:name=".customer.sale.SalesReturnReview" />
        <activity android:name=".customer.sale.SalesReviewDetail" />
        <activity android:name=".customer.sale.SalesReview" />
        <activity android:name=".network.syncInfo.SyncFromAppToServer" />
        <activity android:name=".customer.sale.Sales" />
        <activity android:name=".customer.Home" />
        <activity android:name=".item.Item" />
        <activity android:name=".customer.AddCustomer" />
        <activity android:name=".customer.Customer" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>